<footer id="footer">
  <div class="outer">
    <div id="footer-info" class="inner">
      &copy; {{ now.Format "2006"}}
      {{ with .Site.Params.copyright }}{{ . | markdownify}}{{ end }}
      <div style="width:300px;margin:0 auto; padding:20px 0;">
        <a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=51019002001362" style="display:inline-block;text-decoration:none;height:20px;line-height:20px;">
          <img src="{{ "/img/beian.png" | absURL }}" style="float:left;"/>
          <p style="float:left;height:20px;line-height:20px;margin: 0px 0px 0px 5px; color:#939393;">
            川公网安备 51019002001362号
          </p>
        </a>
      </div>
    </div>
  </div>
</footer>

{{ partial "footer_js" . }}
{{ partial "footer_custom_js" . }}
